<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      Inventory
    </ion-title>
    <ion-buttons end>
        <button ion-button color="clear" (click)="logout()">Log Out</button>
    </ion-buttons>
  </ion-navbar>

<ion-toolbar>
    <ion-segment [(ngModel)]="section" color="primary">

      <ion-segment-button value="one">Inventory
              </ion-segment-button>

      <ion-segment-button value="two">Reports
</ion-segment-button>

    </ion-segment>

  </ion-toolbar>
  
</ion-header>

<ion-content>



 <div [ngSwitch]="section">
 
      <ion-list *ngSwitchCase="'one'">
        <ion-item>

 <ion-list>

  <ion-list-header>

<div text-center>
<button ion-button [navPush]="pushPage">
  Add a New Location
</button>    
</div>

  </ion-list-header>



<u>Existing Locations:</u> 

  <ion-item *ngFor="let item of shoppingList$ | async" detail-push navPush="EditShoppingItemPage" [navParams]="{item: item}">
   {{item.name}}
  </ion-item>

 </ion-list>

 <p *ngIf="!isApp">
 (Select an Inventory CSV file to upload) <br>
 <br>

<input type="file" class="upload" (change)="changeListener($event.target.files)">

{{csv}}

 </p>

         
        </ion-item>
      </ion-list>
 
      <ion-list *ngSwitchCase="'two'">
        <ion-item>

<ion-list>
 <ion-item *ngFor="let grocery of groceries">   
   <button ion-button color="blue" (click)="goReport(grocery)">{{ grocery}}</button>
 </ion-item>
</ion-list>

        </ion-item>
      </ion-list>

</div>




</ion-content>