<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      Purchase Orders
    </ion-title>
  </ion-navbar>

<ion-toolbar>
    <ion-segment [(ngModel)]="section" color="primary">

      <ion-segment-button value="one">Orders
              </ion-segment-button>

      <ion-segment-button value="two">Re-orders
</ion-segment-button>

    </ion-segment>

  </ion-toolbar>


</ion-header>

<ion-content padding>

 <div [ngSwitch]="section">
 
      <ion-list *ngSwitchCase="'one'">
      <ion-item>
      <ion-list>


<div *ngIf="isApp" text-center>
 <button ion-button color="blue" (click)="scan()">Scan by UPC</button>
<br>
<br>
or<br>
<br>
</div>

<div *ngIf="!isApp" text-center>
<table width="50%" align="center">
<ion-item>

<ion-input placeholder="Enter a Description" [(ngModel)]="prodMan" required></ion-input>

</ion-item>
</table>
</div>

<div *ngIf="isApp" text-center>

<ion-item>

<ion-input placeholder="Enter a Description" [(ngModel)]="prodMan" required></ion-input>

</ion-item>
</div>



<br>

<div text-center>

<div *ngIf="prevAveragesList !== undefined && prevAveragesList.length > 0 else emptyList">
<button ion-button color="blue" (click)="getItems(prodMan)">Search</button><button ion-button color="blue" (click)="sendOrder2()">Send</button>
</div>

<ng-template #emptyList>
<button ion-button color="blue" (click)="getItems(prodMan)">Search</button>
</ng-template>

</div>
 
<br>
      <div *ngIf="prevAveragesList !== undefined" text-center> # P.O. items: {{ prevAveragesList.length }} 
    </div>


<br>

<ion-card *ngIf="productFound">
  <ion-card-header>
 
  </ion-card-header>
  <ion-card-content>
    <ul>
      <li>{{selectedProduct.desc}}</li>
    </ul>
  </ion-card-content>
</ion-card>

<div *ngIf="hideMe">

      <div *ngFor="let desc of descList" text-center>
        
<ion-row class="ionrow">
<ion-col width-125>

<div *ngIf="isApp">
<button ion-button color="blue" (click)="onClick(desc.record.upc,desc.record.desc,desc.record.quantity,desc.id)" style="width:89%">{{ desc.record.desc }} </button>

</div>

<div *ngIf="!isApp">
<button ion-button color="blue" (click)="onClick(desc.record.upc,desc.record.desc,desc.record.quantity,desc.id)" style="width:29%">{{ desc.record.desc }} </button>
</div>

</ion-col>
</ion-row>


        
      </div>

      
      <div *ngIf="descList.length === 0">No results, try clearing filters
    </div>

 


</div>



</ion-list>
</ion-item>
</ion-list>

     <ion-list *ngSwitchCase="'two'">
     <ion-item>
     <ion-list>


</ion-list>        
</ion-item>
</ion-list>
</div>


</ion-content>