page-addlocation {

input{
background: white;
padding: 15px;
border-radius: 5px;
border: 1px solid #c8c7cc ;
margin: 0;
}

.text-input{
background: white;
padding: 10px;
border-radius: 5px;
border: 1px solid #c8c7cc ;
margin: 0;
}



}
