
<ion-content>

<br>
<br>

<!--
<div class="is-hits-root">
    <ul>
      <li *ngFor="let hit of state.hits">
        {{ hit.desc }}, Qty = {{ hit.quantity }}
      </li>
    </ul>
  </div> -->

<ion-content>

   <ion-list>
   <ion-item *ngFor="let hit of state.hits">

<div>{{hit.desc}}<br>
Qty:  {{hit.quantity}}
</div>


</ion-item>
</ion-list>


<!--
<div *ngFor="let hit of state.hits" text-center>
<button ion-button color="blue" (click)="onClick()" style="width:29%">{{ hit.desc }} &nbsp; {{ hit.quantity }}</button>
 </div>
-->

</ion-content>
