<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      Review Cart
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

 <p *ngIf="!isApp">

   <ion-list>


<br>


<ion-item *ngFor="let item of prevAveragesList" >


<div class="item">{{item.substring(item.lastIndexOf('^')+1).trim()}}<br>
Qty to Order:  <br>
<ion-item>
<ion-input type="number" [(ngModel)]="qtyOrder" placeholder="{{item.substring(item.indexOf(' ')+1,item.lastIndexOf(':')).trim()}}" required>
</ion-input>
</ion-item>

</div>

</ion-item>

</ion-list>
</p>

 <p *ngIf="isApp">
     <ion-list>

<!--        <ion-item *ngFor="let grocery of groceries">{{grocery}}</ion-item> -->
<br>


<ion-item *ngFor="let item of prevAveragesList" >


<div class="item">{{item.substring(item.lastIndexOf('^')+1).trim()}}<br>
Qty to Order:  <br>
<ion-item>
<ion-input type="number" [(ngModel)]="qtyOrder" placeholder="{{item.substring(item.indexOf(' ')+1,item.lastIndexOf(':')).trim()}}" required>
</ion-input>
</ion-item>

</div>

</ion-item>


</ion-list>

 </p>
<br>
<div text-center>

<button ion-button color="blue" (click)="updateOrder()">Update</button>
</div>
</ion-content>

