page-invreportmenu {

input{
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    display: block !important;
    border: 1px solid #c8c7cc ;
}

.text-input{
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    display: block !important;
    border: 1px solid #c8c7cc ;
}

::-webkit-input-placeholder {

   text-align: center;

}

:-moz-placeholder { /* Firefox 18- */

   text-align: center;

}

::-moz-placeholder {  /* Firefox 19+ */

   text-align: center;

}

:-ms-input-placeholder {  

   text-align: center;

}

}
